.card {
  width: 250px;
  height: 350px;
  box-shadow: 5px 5px 5px #252525;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 15px;
  padding-top: 14px;
}

.cardImg {
  display: block;
  width: 190px;
  height: 170px;
  position: relative;
  margin: 10px auto 10px;
  transition: 400ms;
}

.cardImg:hover {
  transform: scale(1.1);
}

.id {
  width: 68px;
  background-color: #ffffff;
  text-align: center;
  padding: 3px;
  border-radius: 30px;
  font-weight: 600;
  margin-left: 173px;
}

.id span {
  font-size: 15px;
  font-weight: 600;
}

.pokeName {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.types {
  display: flex;
  justify-content: space-around;
}

.type {
  width: 55px;
  height: 70px;
}