.create-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(211, 3, 3);
    color: white;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 14px;
}

.form-title{
    font-size: 30px;
    color: #F7CD00;
}

.form-input {
    height: 35px;
    width: 250px;
    max-width: 300px;
    border: 2px white;
    border-radius: 1rem;
}

.form-label {    
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 17px;
}

.form-dropdown{    
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-type {    
    width: 55px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-button{
    height: 35px;
    width: 250px;
    border-radius: 1rem;
    font-size: 17px;
    color: #405daa;
    background-color: #f7cd00;
    border: 3px solid #405daa;
}